:root {
  --persey-logo-height: 80px;
  --persey-logo-width: 150px;
  --persey-logo-bg: #ffffff00;
  --link-color: #000000;

  --header-bg: linear-gradient(to right, #2E348D, #02AAE8);
  --title-color: #000000;
  --input-bg: #ffffff;
}
